* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333742;
  color: #463f73;
  max-width: 100%; 
  overflow-x: hidden;
}

#header {
  overflow: hidden;
  padding: 0vw 0.417vw;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  border-bottom: 0.042vw solid #fff; 
  padding-top: 0.417vw;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: #333742;
  width: 100%;
}

#header a {
  float: left;
  text-align: center;
  padding: 0vw 0.667vw;
  text-decoration: none;
  font-size: 1.3vw; 
  line-height: 1.042vw;
  border-radius: 0.167vw;
  color: #ffffff;
  font-family: apercu_regular_pro;
}

#header a.logo {
  padding: 6px 0.417vw;
  font-size: 2.083vw;
  color: #6c0094;
}

#header .extension{
  width: 20vw;
  top: 2.3vw;
  left: 10vw;
  position: fixed;
}

#header img{
  width: 7vw;
}

.fa{
  font: normal normal normal 1.2vw/1 FontAwesome !important;
}

#header a:hover {
  color: white;
  font-family: apercu_bold_pro;
}

#header a.active {
  color: #23d400;
}

.header-right {
  float: right;
  padding-top: 1.875vw;
  padding-right: 0.833vw;
}

@media screen and (max-width: 500px) {
  #header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

#header .search-container {
  float: right;
  position: relative;
  top: -0.458vw;
}

#header input[type=text] {
  padding: 0vw;
  margin-top: 0.1vw;
  font-size: 1.3vw;
  border: none;
  border-radius: 1.042vw;
  background-color: #4b4e57;
  color: #ffffff;
}

#header ::placeholder{
  color: white;
}

#header .search-container button {
  float: right;
  padding: 6px 0.417vw;
  margin-top: 0.333vw;
  margin-right: 0.667vw;
  background: #ddd;
  font-size: 0.708vw;
  border: none;
  cursor: pointer;
}

#header .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  #header .search-container {
    float: none;
  }
  #header a, #header input[type=text], #header .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0.583vw;
  }
  #header input[type=text] {
    border: 0.042vw solid #ccc;  
  }
}

body {font-family: apercu_bold_pro;}

/* Full-width input fields */
input[type=text], input[type=password] {
  padding: 0.500vw 0.833vw;
  margin: 0.333vw 0;
  display: inline-block;
  border: 0.042vw solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  color: white;
  padding: 0.500vw 0.833vw;
  margin: 0.333vw 0;
  background-color: #333742;
  font-family: apercu_bold_pro;
  border: 0.042vw solid #fff;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1vw;
}

button:hover {
  opacity: 0.4;
  padding: 0.583vw 0.917vw;
  margin: 0.417vw 0;
  font-size: 1.108vw;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 0.417vw 0.750vw;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 1vw 0 0.500vw 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 0.667vw;
}

span.psw {
  float: right;
  padding-top: 0.667vw;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 2.500vw;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 0.042vw solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 1.042vw;
  top: 0;
  color: #000;
  font-size: 1.458vw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 12.500vw) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.sidebar{
  height:100%;
  width:8.333vw;
  position:fixed!important;
  z-index:1;
  overflow:auto;
  border-right: 0.083vw solid #6c6794;
}

.sb-icons{
  position: absolute;
    left: 0;
    bottom: 0;
    padding: 6.250vw 2.917vw;
}

.sidebar a{
  padding: 3.750vw 0vw;
}

.sidebar a:hover{
  filter: drop-shadow(0vw 0vw 0.833vw yellow) hue-rotate(160deg); 
}

.section1{
  font-family: apercu_bold_pro;
  padding: 0vw 1.250vw;
}

.section1 img{
  float: left;
  width: 16.667vw;
}

.section1 p{
  padding-left: 17.917vw;
  padding-top: 1.250vw;
  padding-right: 8.333vw;
  line-height: 1.6;
}

@font-face {
  font-family: apercu_bold_pro;
  src: url(fonts/apercu_bold_pro.otf);
}

@font-face {
  font-family: apercu_regular_pro;
  src: url(fonts/apercu_regular_pro.otf);
}

.fa{
  color: #23d400;
  padding-left: 0.167vw;
}

#main,#mainmob{
  text-align: center;
  transition: opacity 0.4s ease-in-out;
}

#main h1,#mainmob h1{
  position: relative;
  padding-top: 5.250vw;
  color: #fff;
  font-size: 5.167vw;
  line-height: 0.2;
  z-index: 2;
}

#main h5,#mainmob h5{
  position: relative;
  color: #85878e;
  font-size: 1.550vw;
  z-index: 2;
}

#main button,#mainmob button{
  position: relative;
  z-index: 2;
}

#mainmob{
  display: none;
}

#rotate1{
  transform: rotate(45deg);
  position: absolute;
}
#rotate0{
  transform: rotate(0deg);
  position: absolute;
}
#rotate2{
  transform: rotate(115deg);
  position: absolute;
}
#rotate3{
  transform: rotate(337deg);
  position: absolute;
  right:0;
}
#rotate4{
  transform: rotate(180deg);
  position: absolute;
  right:0;
}
#rotate5{
  transform: rotate(210deg);
  position: absolute;
  right:0;
}
#rotate6{
  transform: rotate(0deg);
  position: absolute;
  right:0;
}
#rotate7{
  transform: rotate(300deg);
  position: absolute;
  right:0;
}
#rotate8{
  transform: rotate(264deg);
  position: absolute;
  right:0;
}
#rotate9{
  transform: rotate(300deg);
  position: absolute;
}
#rotate10{
  transform: rotate(345deg);
  position: absolute;
}
#rotate11,#rotate12,#rotate13,#rotate14,#rotate15,#rotate16,#rotate17,#rotate18,#rotate19,#rotate20,#rotate21,#rotate28,#rotate29,#rotate30,#rotate31,#rotate32{
  position: absolute;
}

#rotate15,#rotate16,#rotate17,#rotate20,#rotate21,#rotate31,#rotate32{
  right:0;
}

#rotate22{
  transform: rotate(355deg);
  position: absolute;
}

#rotate23{
  transform: rotate(62deg);
  position: absolute;
  right: 0;
}

#rotate24{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate25{
  transform: rotate(355deg);
  position: absolute;
}

#rotate26{
  transform: rotate(311deg);
  position: absolute;
}

#rotate27{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}



.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 1.250vw;
    margin-top: 0.208vw;
    z-index: 0;
}

.floating1 { 
    animation-name: floating1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 1.250vw;
    margin-top: 0.208vw;
    z-index: 0;
}

.floating2 { 
    animation-name: floating2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 1.250vw;
    margin-top: 0.208vw;
    z-index: 0;
}

.floating3 { 
    animation-name: floating3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 1.250vw;
    margin-top: 0.208vw;
    z-index: 0;
}
 
@keyframes floating {
    0% { transform: translate(0,  0vw); }
    50%  { transform: translate(0, 0.625vw); }
    100%   { transform: translate(0, -0vw); }   
}

@keyframes floating1 {
    0% { transform: translate(1.250vw,  0vw); }
    33%  { transform: translate(0.625vw, 1.250vw); }
    66%  { transform: translate(0vw, -1.250vw); }
    100%   { transform: translate(1.250vw, -0vw); }   
}

@keyframes floating2 {
    0% { transform: translate(0,  0vw) rotate(0deg); }
    50%  { transform: translate(0, 0.625vw) rotate(180deg); }
    100%   { transform: translate(0, -0vw) rotate(360deg); }   
}

@keyframes floating3 {
    0% { transform: translate(-0,  -0vw); }
    50%  { transform: translate(-0, -0.625vw); }
    100%   { transform: translate(-0, 0vw); }   
}

#square0{
  width: 3.333vw;
  left: 9.583vw;
  top: 1.458vw;
  position: absolute;
}

#square1{
  filter: brightness(0) invert(1);
  width: 2.917vw;
  left: 6.250vw;
  top: 1.250vw;
  position: absolute;
}

#square2{
  filter: grayscale(100%);
  width: 1.667vw;
  left: -6.250vw;
  top: -3vw;
  position: absolute;
}

#square3{
  filter: brightness(0) invert(1);
  width: 5vw;
  left: -3.167vw;
  top: -15.083vw;
  position: absolute;
}

#square4{
  filter: grayscale(100%);
  width: 3.750vw;
  left: 4.167vw;
  top: -8.333vw;
  position: absolute;
}

#square5{
  width: 1.250vw;
  left: 6.250vw;
  top: -8.333vw;
  position: absolute;
}

#triangle0{
  filter: brightness(0) invert(1);
  width: 3.167vw;
  left: -17vw;
  top: 5vw;
  position: absolute;
}

#triangle1{
  width: 1.458vw;
  left: 0.417vw;
  top: -13.750vw;
  position: absolute;
}

#triangle2{
  filter: grayscale(100%);
  width: 2.500vw;
  left: -5.417vw;
  top: -4.542vw;
  position: absolute;
}

#triangle3{
  filter: brightness(0) invert(1);
  width: 0.833vw;
  left: -1.708vw;
  top: 7.792vw;
  position: absolute;
}

#triangle4{
  filter: grayscale(100%);
  width: 2.083vw;
  left: 6.583vw;
  top: -6.583vw;
  position: absolute;
}

#x0{
  width: 0.833vw;
  left: 8.792vw;
  top: -10.917vw;
  position: absolute;
}

#x1{
  filter: brightness(0) invert(1);
  width: 2.500vw;
  left: 1.333vw;
  top: -13.500vw;
  position: absolute;
}

#x2{
  filter: grayscale(100%);
  width: 1.250vw;
  left: 3.833vw;
  top: -0.833vw;
  position: absolute;
}

#x3{
  filter: grayscale(100%);
  width: 2.500vw;
  left: 8.375vw;
  top: 6.875vw;
  position: absolute;
}

#x4{
  filter: brightness(0) invert(1);
  width: 0.833vw;
  left: -15.208vw;
  top: -1.083vw;
  position: absolute;
}

#x5{
  filter: grayscale(100%);
  width: 1.667vw;
  left: -10.708vw;
  top: -5.917vw;
  position: absolute;
}

#x6{
  width: 2.500vw;
  left: -5.708vw;
  top: -3.792vw;
  position: absolute;
}

#circle0{
  width: 1.667vw;
  left: 0.875vw;
  top: 3.417vw;
  position: absolute;
}

#circle1{
  filter: brightness(0) invert(1);
  width: 2.083vw;
  left: 7.542vw;
  top: -2.583vw;
  position: absolute;
}

#circle2{
  filter: brightness(0) invert(1);
  width: 0.833vw;
  left: -7.125vw;
  top: -5.500vw;
  position: absolute;
}

#circle3{
  filter: grayscale(100%);
  width: 3.333vw;
  left: -10.042vw;
  top: -1.750vw;
  position: absolute;
}

section{
  padding-bottom: 16.667vw;
}

#sobrenosimg{
  width: 40%;
  position: absolute;
}

#sobretxt{
  color: white;
  background-color: #60636c;
  padding: 0.417vw;
  border-bottom-left-radius: 2.083vw;
  border-top-left-radius: 2.083vw;
  right: 0;
  width: 50%;
  position: absolute;
  padding-left: 6.250vw;
  padding-right: 6.250vw;
  font-size: 0.9vw;
  text-align: justify;
  z-index: 2;
}

#triangle5{
  filter: grayscale(100%);
  width: 2.917vw;
  left: 2.917vw;
  top: -3.333vw;
  position: absolute;
}

#triangle6{
  filter: brightness(0) invert(1);
  width: 2.917vw;
  left: -28.375vw;
  top: 43.792vw;
  position: absolute;
}

#triangle7{
  width: 1.667vw;
  left: -9.917vw;
  top: -2.167vw;
  position: absolute;
}

#square6{
  filter: brightness(0) invert(1);
  width: 2.083vw;
  left: 9.083vw;
  top: -0.500vw;
  position: absolute;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#square7{
  filter: brightness(0) invert(1);
  width: 1.250vw;
  left: -9.292vw;
  top: 24.667vw;
  position: absolute;
}

#square8{
  width: 2.500vw;
  left: -40.208vw;
  top: 22.667vw;
  position: absolute;
}

#circle4{
  width: 2.500vw;
  left: 23.542vw;
  top: 1.833vw;
  position: absolute;
}

#circle5{
  filter: brightness(0) invert(1);
  width: 1.667vw;
  left: 30.208vw;
  top: 8.083vw;
  position: absolute;
}

#x7{
  filter: grayscale(100%);
  width: 1.667vw;
  left: 8.792vw;
  top: 21.792vw;
  position: absolute;
}

#x8{
  filter: brightness(0) invert(1);
  width: 5vw;
  left: -13.792vw;
  top: 21.208vw;
  position: absolute;
}

#x9{
  filter: brightness(0) invert(1);
  width: 1.667vw;
  left: -55.125vw;
  top: 11.625vw;
  position: absolute;
}

#condicoes{
  position: absolute;
  width: 30vw;
  top: 14.625vw;
  left: 2.625vw;
}

#sobre{
  position: absolute;
  width: 20vw;
  top: 6.625vw;
  left: 40%
}

#condicoestxt,#conhecimentostxt,#estudostxt,#saidastxt{
  position: absolute;
  top: 15.5vw;
  left: 7vw;
  font-size: 2vw;
  color: white;
}

#txt1,#txt2,#txt3,#txt4{
  color: white;
  border-left: 0.3vw solid #23d400;
  position: absolute;
  font-size: 1vw;
  text-align: justify;
  top: 21vw;
  left: 3vw;
  padding: 1vw;
  border-radius: 0.3vw;
  padding-right: 10vw;
}

#conhecimentos{
  position: absolute;
  width: 61vw;
  top: 40.625vw;
  left: 2.625vw;
}

#conhecimentostxt{
  top: 41.5vw;
}

#estudos{
  position: absolute;
  width: 24vw;
  top: 62.625vw;
  left: 2.625vw;
}

#estudostxt{
  top: 63.5vw;
}

#saidas{
  position: absolute;
  width: 26vw;
  top: 76.625vw;
  left: 2.625vw;
}

#saidastxt{
  top: 77.2vw;
}

#txt2{
  top: 47vw;
}

#txt3{
  top: 69vw;
}

#txt4{
  top: 83vw;
}

#contentsobre{
  padding-bottom: 105vw;
}

#inicio{
  padding-top: 10vw;
}

.scrollFade {
  opacity: 0;
  pointer-events: all;
}
.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}
.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--animate {
  transition: opacity 0.4s ease-in-out;
}

.scriby{
  color: #A5A7Ae;
}

#unity-container{
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

.jogosImg{
  width: 30vw;
  top: 61vw;
  left: 10vw;
  position: absolute;
  z-index: 1;
}

#jogosImg2{
  width: 28.1vw;
  height: 21vw;
  top: 62vw;
  left: 10vw;
  position: absolute;
}

.jogosTitle{
  position: absolute;
  top: 56vw;
  left: 41vw;
  font-size: 3vw;
  color: #23d400;
}

.jogosName{
  color: white;
}

.jogosDesc{
  position: absolute;
  top: 61vw;
  left: 41vw;
  font-size: 1vw;
  color: #85878e;
  padding-right: 20vw;
}

.slk{
  color: #23d400;
}

.jogosInfo0,.jogosInfo1,.jogosInfo2{
  position: absolute;
  top: 65vw;
  left: 46vw;
  font-size: 1.2vw;
  color: white;
  font-style: italic;
  padding-right: 20vw;
}

#exclamation0,#exclamation1,#exclamation2{
  position: absolute;
  top: 66vw;
  left: 43vw;
  width: 2vw;
}

#exclamation1{
  top: 71vw;
}

.jogosInfo1{
  top: 70vw;
}

.jogosInfo2{
  top: 75vw;
}

#jogosBtn{
  position: absolute;
  top: 75vw;
  left: 50vw;
  width: 15vw;
}

#tryit{
  position: absolute;
  top: 76.5vw;
  left: 53vw;
  font-size: 1.3vw;
  color: white;
}

#arrow0{
  position: absolute;
  top: 71vw;
  left: 2vw;
  width: 4vw;
  transform: rotate(90deg);
  transition: all 0.3s;
}

#arrow0:hover{
  width: 5vw;
  left: 1vw;
}

#arrow1{
  position: absolute;
  top: 71vw;
  left: 90vw;
  width: 4vw;
  transform: rotate(-90deg);
  transition: all 0.3s;
}

#arrow1:hover{
  width: 5vw;
}

#gamesdiv{
  transition: all 0.5s;
}

#introjogos{
  position: absolute;
  top: 19vw;
  width: 60vw;
  color: white;
  left: 20vw;
  font-size: 1.3vw;
}

#sectionLabel{
  background-color: #22242c;
  position: absolute;
  width: 100%;
  height: 30vw;
  top: 80vw;
}


#controllerIcon{
  position: absolute;
  width: 10vw;
  left: 15vw;
  top: 4vw;
}

#controllerTxt{
  position: absolute;
  font-size: 4vw;
  left: 15vw;
  top: 8vw;
  color: white;
}

#labelBar0{
  padding: 0vw;
  margin-top: 0.1vw;
  font-size: 1vw;
  border: none;
  border-radius: 1.042vw;
  background-color: #23d400;
  color: #ffffff;
  position: absolute;
  top: 17vw;
  left: 17vw;
  width: 6vw;
  transition: all 0.2s;
}

#labelBar0:hover{
  left: 15vw;
  width: 10vw;
}

#controllerTxt2{
  position: absolute;
  font-size: 1.2vw;
  left: 7vw;
  top: 18vw;
  color: white;
  text-align: justify;
  width: 26vw;
}


#articlesIcon{
  position: absolute;
  width: 10vw;
  left: 44.6vw;
  top: 2vw;
}

#articlesTxt{
  position: absolute;
  font-size: 4vw;
  left: 43vw;
  top: 8vw;
  color: white;
}

#labelBar1{
  padding: 0vw;
  margin-top: 0.1vw;
  font-size: 1vw;
  border: none;
  border-radius: 1.042vw;
  background-color: #23d400;
  color: #ffffff;
  position: absolute;
  top: 17vw;
  left: 46vw;
  width: 6vw;
  transition: all 0.2s;
}

#labelBar1:hover{
  left: 44vw;
  width: 10vw;
}

#articlesTxt2{
  position: absolute;
  font-size: 1.2vw;
  left: 37vw;
  top: 18vw;
  color: white;
  text-align: justify;
  width: 26vw;
}


#playIcon{
  position: absolute;
  width: 10vw;
  left: 75vw;
  top: 2vw;
}

#playTxt{
  position: absolute;
  font-size: 4vw;
  left: 70vw;
  top: 8vw;
  color: white;
}

#labelBar2{
  padding: 0vw;
  margin-top: 0.1vw;
  font-size: 1vw;
  border: none;
  border-radius: 1.042vw;
  background-color: #23d400;
  color: #ffffff;
  position: absolute;
  top: 17vw;
  left: 77vw;
  width: 6vw;
  transition: all 0.2s;
}

#labelBar2:hover{
  left: 75vw;
  width: 10vw;
}

#playTxt2{
  position: absolute;
  font-size: 1.2vw;
  left: 67vw;
  top: 18vw;
  color: white;
  text-align: justify;
  width: 26vw;
}

#multiSelect{
  position: absolute;
  top: 30vw;
  width: 100vw;
}

.mcs-item{
  transition: all 0.2s;
}

.mcs-item:hover{
  background-color: white;
  border-radius: 1vw;
}

.multiImg{
  height: 23vw;
  object-fit: cover;
  display: inline-block;
}

#artigoIntro{
  position: absolute;
  top: 14vw;
  width: 60vw;
  color: white;
  left: 21vw;
  font-size: 1.5vw;
  text-align: center;
  font-style: italic;
}

#artigoDesc{
  position: absolute;
  top: 22vw;
  width: 55vw;
  color: white;
  left: 22.5vw;
  font-size: 1.3vw;
  text-align: center;
  font-style: italic;
}

#artigoTitle,#artigoTitleG{
  z-index: 2;
  position: absolute;
  width: 20vw;
  top: 11vw;
  left: 40.1%;
  transition: all 0.1s;
}

#artigoTitleG{
  z-index: 0;
  top: 10vw;
  left: 39.85%;
  transition: all 0.15s;
}

.funni {
  transition: all 0.3s;
  opacity: 0;
}

#foreffect,#foreffect2{
  z-index: 1;
  width: 25vw;
  height: 5vw;
  top: 6vw;
  left: 39vw;
  position: absolute;
  background-color: #333742;
}

#foreffect2{
  z-index: 3;
  top: 11vw;
  height: 4.4vw;
  background-color: #333742;
}

#sectionInterested{
  background-color: #333742;
  position: absolute;
  width: 100%;
  height: 40vw;
  top: 110vw;
  color: white;
}

#interestedTxt,#blurbTxt{
  position: absolute;
  font-size: 1.5vw;
  left: 10vw;
  top: 4vw;
}

#blurbTxt{
  font-size: 1.4vw;
  top: 8vw;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #29921c;
}

#linksTxt1,#linksTxt2,#linksTxt3,#linksTxt4{
  position: absolute;
  font-size: 1vw;
  left: 16vw;
  top: 14vw;
  color: white;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #333742;
  transition: all 0.3s;
}

#linksTxt1:hover,#linksTxt2:hover,#linksTxt3:hover,#linksTxt4:hover {
  text-decoration-color: #29921c;
}

#linksTxt2{
  top: 17vw;
}

#linksTxt3{
  top: 20vw;
}

#linksTxt4{
  top: 23vw;
}

.fa-external-link{
  color: white;
}

#iconarrow1,#iconarrow2,#iconarrow3,#iconarrow4{
  position: absolute;
  left: 40.5vw;
  top: 13.7vw;
  color: white;
}

#iconarrow2{
  left: 24vw;
  top: 16.7vw;
}

#iconarrow3{
  left: 27vw;
  top: 19.7vw;
}

#iconarrow4{
  left: 21vw;
  top: 22.7vw;
}

#iconarrow4{
  left: 21vw;
  top: 22.7vw;
}

#selectorIntere{
  width: 1vw;
  position: absolute;
  left: 14vw;
  top: 23.1vw;
  opacity: 0;
  transition: all 0.3s;
}

footer{
  position: absolute;
  top: 145vw;
  width: 100%;
  height: 6vw;
  background-color: #2d7328;
  overflow: hidden;
}

#footerlogo{
  position: absolute;
  width: 10vw;
  top: 1vw;
  left: 12.5vw;
}

#footerfb,#footerig,#footeryt{
  position: absolute;
  top: 3.8vw;
  left: 57vw;
}

#footerfb{
  width: 0.8vw;
}

#footeryt{
  left: 72vw;
  top: 3.9vw;
  width: 1.4vw;
}

#footerig{
  left: 64vw;
  width: 1.4vw;
}

#footerli{
  position: absolute;
  top: 11.9vw;
}

#footerweb{
  position: absolute;
  top: 14.4vw;
  left: 15.9vw;
}

#footertxt{
  color: white;
  font-size: 1vw;
}

#footercontactos,#footerexplora{
  position: absolute;
  top: 0.6vw;
  left: 32vw;
}

#footerunderliner,#footerunderliner2{
  background-color: white;
  width: 20vw;
  height: 0.1vw;
  position: absolute;
  top: 3vw;
  left: 26vw;
  opacity: 0.5;
}

#footerunderliner2{
  left: 56.2vw;
}

#footertel,#footermail{
  position: absolute;
  font-size: 0.8vw;
  top: 3.3vw;
  left: 29vw;
}

#footermail{
  left: 40vw;
}

#footertelimg,#footermailimg{
  position: absolute;
  top: 3.9vw;
  left: 27vw;
  width: 1.3vw;
}

#footermailimg{
  top: 4.1vw;
  left: 37.6vw;
}

#footerexplora{
  left: 57.7vw;
}

#footerinicio,#footersobre,#footerjogos,#footerartigos,#footermultimedia{
  position: absolute;
  font-size: 0.7vw;
  top: 7vw;
  left: 59.2vw;
  color: white;
}

#footersobre{
  top: 9vw;
}

#footerjogos{
  top: 11vw;
}

#footerartigos{
  top: 13vw;
}

#footermultimedia{
  top: 15vw;
}

#footerselector{
  position: absolute;
  width: 0.7vw;
  top: 7.7vw;
  left: 57.5vw;
  color: white;
  opacity: 0;
}

#footerconhecer{
  position: absolute;
  top: 2vw;
  left: 55vw;
  color: white;
}

#footerunderliner3{
  background-color: white;
  width: 23.3vw;
  height: 0.1vw;
  position: absolute;
  top: 6.5vw;
  left: 73.7vw;
  opacity: 0.5;
}

#styleline,#styleline2{
  background-color: #333742;
  width: 30vw;
  position: absolute;
  right: -10vw;
  height: 1.3vw;
  top: 0vw;
  transform: rotate(315deg);
}

#styleline2{
  right: -15vw;
}

#footer2{
  top: 106vw;
}

#footer3{
  top: 95vw;
}

#footer4{
  top: 60vw;
}

#multimediaTitle,#multimediaTitleG{
  z-index: 2;
  position: absolute;
  width: 24vw;
  top: 11vw;
  left: 39.7%;
  transition: all 0.1s;
}

#multimediaTitleG{
  z-index: 0;
  width: 23.3vw;
  top: 10vw;
  left: 40.2%;
  transition: all 0.15s;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 36vw;
  left: 21vw;
}

#initialVideo{
  position: absolute;
  top: 16vw;
  width: 100%;
  height: 36vw;
  background-color: black;
}

#videoTitle{
  position: absolute;
  top: 3vw;
  left: 26vw;
  font-size: 5vw;
  font-style: italic;
  color: #23d400;
  opacity: 80%;
}

#multimediaBox0,#multimediaBox1,#multimediaBox2,#multimediaBox3,#multimediaLogo0,#multimediaLogo1,#multimediaLogo2,#multimediaLogo3{
  position: absolute;
  width: 13vw;
  top: 28vw;
  left: 22vw;
  z-index: 1;
  -webkit-transition : -webkit-filter 0.2s linear;
}

#multimediaLogo0,#multimediaLogo1,#multimediaLogo2,#multimediaLogo3{
  top: 28.6vw;
}

#multimediaLogo1{
  top: 28.2vw;
}

#multimediaBox0:hover,#multimediaBox1:hover,#multimediaBox2:hover,#multimediaBox3:hover{
  filter: invert(75%);
}

#multimediaBox1,#multimediaLogo1{
  left: 38vw;
}

#multimediaBox2,#multimediaLogo2{
  left: 55vw;
}

#multimediaBox3,#multimediaLogo3{
  left: 71vw;
}

#multimediaLogo2{
  top: 28vw;
  width: 7vw;
  left: 58vw;
}

#generateVid{
  position: absolute;
  top: 54vw;
  height: 200vw;
}

#multiarrow{
  width: 2vw;
  position: absolute;
  left: 31vw;
  top: 1vw;
}

#descGenVid{
  position: absolute;
  color: white;
  font-size: 1vw;
  left: 34vw;
  width: 39vw;
}

#reallybigline{
  background-color: #23d400;
  width: 0.5vw;
  left: 50vw;
  top: 7vw;
  position: absolute;
  height: 200vw;
  opacity: 80%;
  border-radius: 1vw;
}

.videoframeleft{
  position: absolute;
  width: 30vw;
  left: 10vw;
  top: 10vw;
  text-align: center;
}

.videoframeright{
  position: absolute;
  width: 30vw;
  left: 60vw;
  top: 10vw;
  text-align: center;
}

.iframer{
  position: absolute;
  width: 30.7vw;
  left: 0.2vw;
  top: 0.2vw;
  height: 14.5vw;
  border-radius: 2.6vw;
}

.videoframeleft img{
  width: 31vw;
}

.desc{
  position: absolute;
  left: 6vw;
  top: 14.5vw;
  width: 20vw;
  font-size: 1.3vw;
  color: white;
  text-align: center;
}