* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333742;
  color: #463f73;
  max-width: 100%; 
  overflow-x: hidden;
}

#header {
  overflow: hidden;
  padding: 0px 10px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  border-bottom: 1px solid #fff; 
  padding-top: 10px;
}

#header a {
  float: left;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  color: #ffffff;
  font-family: apercu_bold_pro;
}

#header a.logo {
  padding: 6px 10px;
  font-size: 50px;
  font-weight: bold;
  color: #6c0094;
}

#header img{
  width: 150px;
}

#header a:hover {
  color: white;
  font-weight: bold;
}

#header a.active {
  border-left: 6px solid #23d400;
  padding-left: 4px;
}

.header-right {
  float: right;
  padding-top: 45px;
  padding-right: 20px;
}

@media screen and (max-width: 500px) {
  #header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

#header .search-container {
  float: right;
  position: relative;
  top: -11px;
}

#header input[type=text] {
  padding: 0px;
  margin-top: 12px;
  font-size: 17px;
  border: none;
  border-radius: 25px;
  background-color: #4b4e57;
  color: #ffffff;
}

#header ::placeholder{
  color: white;
}

#header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#header .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  #header .search-container {
    float: none;
  }
  #header a, #header input[type=text], #header .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  #header input[type=text] {
    border: 1px solid #ccc;  
  }
}

body {font-family: apercu_bold_pro;}

/* Full-width input fields */
input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #333742;
  font-family: apercu_bold_pro;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 15px;
}

button:hover {
  opacity: 0.4;
  padding: 14px 22px;
  margin: 10px 0;
  font-size: 17px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.sidebar{
  height:100%;
  width:200px;
  position:fixed!important;
  z-index:1;
  overflow:auto;
  border-right: 2px solid #6c6794;
}

.sb-icons{
  position: absolute;
    left: 0;
    bottom: 0;
    padding: 150px 70px;
}

.sidebar a{
  padding: 90px 0px;
}

.sidebar a:hover{
  filter: drop-shadow(0px 0px 20px yellow) hue-rotate(160deg); 
}

.section1{
  font-family: apercu_bold_pro;
  padding: 0px 30px;
}

.section1 img{
  float: left;
  width: 400px;
}

.section1 p{
  padding-left: 430px;
  padding-top: 30px;
  padding-right: 200px;
  line-height: 1.6;
}

@font-face {
  font-family: apercu_bold_pro;
  src: url(fonts/apercu_bold_pro.otf);
}

.fa{
  color: #23d400;
  padding-left: 4px;
}

#content{
  padding-top: 50px;
}

#main{
  text-align: center;
}

#main h1{
  padding-top: 150px;
  color: #fff;
  font-size: 100px;
  line-height: 0.2;
}

#main h5{
  color: #85878e;
  font-size: 30px;
  
}

#rotate1{
  transform: rotate(45deg);
  position: absolute;
}
#rotate0{
  transform: rotate(0deg);
  position: absolute;
}
#rotate2{
  transform: rotate(115deg);
  position: absolute;
}
#rotate3{
  transform: rotate(337deg);
  position: absolute;
  right:0;
}
#rotate4{
  transform: rotate(180deg);
  position: absolute;
  right:0;
}
#rotate5{
  transform: rotate(210deg);
  position: absolute;
  right:0;
}
#rotate6{
  transform: rotate(0deg);
  position: absolute;
  right:0;
}
#rotate7{
  transform: rotate(300deg);
  position: absolute;
  right:0;
}
#rotate8{
  transform: rotate(264deg);
  position: absolute;
  right:0;
}
#rotate9{
  transform: rotate(300deg);
  position: absolute;
}
#rotate10{
  transform: rotate(345deg);
  position: absolute;
}
#rotate11,#rotate12,#rotate13,#rotate14,#rotate15,#rotate16,#rotate17{
  position: absolute;
}

#rotate15,#rotate16,#rotate17{
  right:0;
}


.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.floating1 { 
    animation-name: floating1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.floating2 { 
    animation-name: floating2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes floating1 {
    0% { transform: translate(30px,  0px); }
    33%  { transform: translate(15px, 30px); }
    66%  { transform: translate(0px, -30px); }
    100%   { transform: translate(30px, -0px); }   
}

@keyframes floating2 {
    0% { transform: translate(0,  0px) rotate(0deg); }
    50%  { transform: translate(0, 15px) rotate(180deg); }
    100%   { transform: translate(0, -0px) rotate(360deg); }   
}

#square0{
  width: 80px;
  left: 230px;
  top: 35px;
  position: absolute;
}

#square1{
  filter: brightness(0) invert(1);
  width: 70px;
  left: 150px;
  top: 30px;
  position: absolute;
}

#square2{
  filter: grayscale(100%);
  width: 40px;
  left: -150px;
  top: -72px;
  position: absolute;
}

#square3{
  filter: brightness(0) invert(1);
  width: 120px;
  left: -76px;
  top: -362px;
  position: absolute;
}

#square4{
  filter: grayscale(100%);
  width: 90px;
  left: 100px;
  top: -200px;
  position: absolute;
}

#square5{
  width: 30px;
  left: 150px;
  top: -200px;
  position: absolute;
}

#triangle0{
  filter: brightness(0) invert(1);
  width: 76px;
  left: -408px;
  top: 120px;
  position: absolute;
}

#triangle1{
  width: 35px;
  left: 10px;
  top: -330px;
  position: absolute;
}

#triangle2{
  filter: grayscale(100%);
  width: 60px;
  left: -130px;
  top: -109px;
  position: absolute;
}

#triangle3{
  filter: brightness(0) invert(1);
  width: 20px;
  left: -41px;
  top: 187px;
  position: absolute;
}

#triangle4{
  filter: grayscale(100%);
  width: 50px;
  left: 158px;
  top: -158px;
  position: absolute;
}

#x0{
  width: 20px;
  left: 211px;
  top: -262px;
  position: absolute;
}

#x1{
  filter: brightness(0) invert(1);
  width: 60px;
  left: 32px;
  top: -324px;
  position: absolute;
}

#x2{
  filter: grayscale(100%);
  width: 30px;
  left: 92px;
  top: -20px;
  position: absolute;
}

#x3{
  filter: grayscale(100%);
  width: 60px;
  left: 201px;
  top: 165px;
  position: absolute;
}

#x4{
  filter: brightness(0) invert(1);
  width: 20px;
  left: -365px;
  top: -26px;
  position: absolute;
}

#x5{
  filter: grayscale(100%);
  width: 40px;
  left: -257px;
  top: -142px;
  position: absolute;
}

#x6{
  width: 60px;
  left: -137px;
  top: -91px;
  position: absolute;
}