* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #07001b;
  color: #463f73;
}

#header {
  overflow: hidden;
  padding: 20px 10px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#header a {
  float: left;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  color: #ffd0fc;
}

#header a.logo {
  padding: 6px 10px;
  font-size: 50px;
  font-weight: bold;
  color: #6c0094;
  border-style: solid;
  border-width: thin;
}

#header img{
  width: 150px;
}

#header a:hover {
  color: white;
  font-weight: bold;
}

#header a.active {
  border-left: 6px solid #6c0094;
  height: 50px;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  #header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

#header .search-container {
  float: right;
}

#header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 25px;
  background-color: #6c6794;
  color: #ffd0fc;
}

#header ::placeholder{
  color: white;
}

#header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#header .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  #header .search-container {
    float: none;
  }
  #header a, #header input[type=text], #header .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  #header input[type=text] {
    border: 1px solid #ccc;  
  }
}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.sidebar{
  height:100%;
  width:200px;
  position:fixed!important;
  z-index:1;
  overflow:auto;
  border-right: 2px solid #6c6794;
}

.sb-icons{
  position: absolute;
    left: 0;
    bottom: 0;
    padding: 150px 70px;
}

.sidebar a{
  padding: 90px 0px;
}

.sidebar a:hover{
  filter: drop-shadow(0px 0px 20px yellow) hue-rotate(160deg); 
}

.section1{
  font-family: UniversLTStd;
  padding: 0px 30px;
}

.section1 img{
  float: left;
  width: 400px;
}

.section1 p{
  padding-left: 430px;
  padding-top: 30px;
  padding-right: 200px;
  line-height: 1.6;
}

@font-face {
  font-family: UniversLTStd;
  src: url(fonts/UniversLTStd-Ex.otf);
}