* {box-sizing: border-box;}

html{
  max-width: 100%; 
  overflow-x: hidden;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333742;
  color: #463f73;
  max-width: 100%; 
  overflow-x: hidden;
}

#header{
  overflow: hidden;
  padding: 1vw 1vw;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  border-bottom: 0.042vw solid #fff;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #333742;
  max-width: 100%;
  text-align: center;
}

#header a {
  padding-right: 4vw;
  text-align: center;
  text-decoration: none;
  font-size: 4vw;
  border-radius: 0.167vw;
  color: #ffffff;
  font-family: apercu_regular_pro;
}

#header a.active {
  color: #23d400;
}

#header a:hover {
  color: white;
  font-family: apercu_bold_pro;
}

#header img{
  width: 25vw;
}

#header input[type=text] {
  padding: 0vw;
  margin-top: 0.1vw;
  font-size: 3vw;
  border: none;
  width: 60vw;
  border-radius: 1.042vw;
  background-color: #4b4e57;
  color: #ffffff;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 2.500vw;
}

@font-face {
  font-family: apercu_bold_pro;
  src: url(fonts/apercu_bold_pro.otf);
}

@font-face {
  font-family: apercu_regular_pro;
  src: url(fonts/apercu_regular_pro.otf);
}

#sobre{
  position: absolute;
  width: 50vw;
  top: 30vw;
  left: 25%
}

#rotate1{
  transform: rotate(45deg);
  position: absolute;
}
#rotate0{
  transform: rotate(0deg);
  position: absolute;
}
#rotate2{
  transform: rotate(115deg);
  position: absolute;
}
#rotate3{
  transform: rotate(337deg);
  position: absolute;
  right:0;
}
#rotate4{
  transform: rotate(180deg);
  position: absolute;
  right:0;
}
#rotate5{
  transform: rotate(210deg);
  position: absolute;
  right:0;
}
#rotate6{
  transform: rotate(0deg);
  position: absolute;
  right:0;
}
#rotate7{
  transform: rotate(300deg);
  position: absolute;
  right:0;
}
#rotate8{
  transform: rotate(264deg);
  position: absolute;
  right:0;
}
#rotate9{
  transform: rotate(300deg);
  position: absolute;
}
#rotate10{
  transform: rotate(345deg);
  position: absolute;
}
#rotate11,#rotate12,#rotate13,#rotate14,#rotate15,#rotate16,#rotate17,#rotate18,#rotate19,#rotate20,#rotate21,#rotate28,#rotate29,#rotate30,#rotate31,#rotate32{
  position: absolute;
}

#rotate15,#rotate16,#rotate17,#rotate20,#rotate21,#rotate31,#rotate32{
  right:0;
}

#rotate22{
  transform: rotate(355deg);
  position: absolute;
}

#rotate23{
  transform: rotate(62deg);
  position: absolute;
  right: 0;
}

#rotate24{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate25{
  transform: rotate(355deg);
  position: absolute;
}

#rotate26{
  transform: rotate(311deg);
  position: absolute;
}

#rotate27{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate28{
  transform: rotate(319deg);
  position: absolute;
}

#rotate29{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate30{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate31{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate32{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate33{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate34{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate35{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate36{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate37{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate38{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate39{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate40{
  transform: rotate(337deg);
  position: absolute;
  right: 0;
}

#rotate41{
  transform: rotate(278deg);
  position: absolute;
  right: 0;
}

#rotate42{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate43{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate44{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate45{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate46{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

#rotate47{
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 1.250vw;
    margin-top: 0.208vw;
    z-index: 0;
}

.floating1 { 
    animation-name: floating1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 1.250vw;
    margin-top: 0.208vw;
    z-index: 0;
}

.floating2 { 
    animation-name: floating2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 1.250vw;
    margin-top: 0.208vw;
    z-index: 0;
}

.floating3 { 
    animation-name: floating3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 1.250vw;
    margin-top: 0.208vw;
    z-index: 0;
}
 
@keyframes floating {
    0% { transform: translate(0,  0vw); }
    50%  { transform: translate(0, 0.625vw); }
    100%   { transform: translate(0, -0vw); }   
}

@keyframes floating1 {
    0% { transform: translate(1.250vw,  0vw); }
    33%  { transform: translate(0.625vw, 1.250vw); }
    66%  { transform: translate(0vw, -1.250vw); }
    100%   { transform: translate(1.250vw, -0vw); }   
}

@keyframes floating2 {
    0% { transform: translate(0,  0vw) rotate(0deg); }
    50%  { transform: translate(0, 0.625vw) rotate(180deg); }
    100%   { transform: translate(0, -0vw) rotate(360deg); }   
}

@keyframes floating3 {
    0% { transform: translate(-0,  -0vw); }
    50%  { transform: translate(-0, -0.625vw); }
    100%   { transform: translate(-0, 0vw); }   
}

#square0{
  width: 3.333vw;
  left: 9.583vw;
  top: 1.458vw;
  position: absolute;
}

#square1{
  filter: brightness(0) invert(1);
  width: 2.917vw;
  left: 6.250vw;
  top: 1.250vw;
  position: absolute;
}

#square2{
  filter: grayscale(100%);
  width: 1.667vw;
  left: -6.250vw;
  top: -3vw;
  position: absolute;
}

#square3{
  filter: brightness(0) invert(1);
  width: 5vw;
  left: -3.167vw;
  top: -15.083vw;
  position: absolute;
}

#square4{
  filter: grayscale(100%);
  width: 3.750vw;
  left: 4.167vw;
  top: -8.333vw;
  position: absolute;
}

#square5{
  width: 1.250vw;
  left: 6.250vw;
  top: -8.333vw;
  position: absolute;
}

#square15{
  width: 3.250vw;
  left: -68.250vw;
  top: 43.333vw;
  position: absolute;
}

#triangle0{
  filter: brightness(0) invert(1);
  width: 3.167vw;
  left: -17vw;
  top: 5vw;
  position: absolute;
}

#triangle1{
  width: 1.458vw;
  left: 0.417vw;
  top: -13.750vw;
  position: absolute;
}

#triangle2{
  filter: grayscale(100%);
  width: 2.500vw;
  left: -5.417vw;
  top: -4.542vw;
  position: absolute;
}

#triangle3{
  filter: brightness(0) invert(1);
  width: 0.833vw;
  left: -1.708vw;
  top: 7.792vw;
  position: absolute;
}

#triangle4{
  filter: grayscale(100%);
  width: 2.083vw;
  left: 6.583vw;
  top: -6.583vw;
  position: absolute;
}

#x0{
  width: 0.833vw;
  left: 8.792vw;
  top: -10.917vw;
  position: absolute;
}

#x1{
  filter: brightness(0) invert(1);
  width: 2.500vw;
  left: 1.333vw;
  top: -13.500vw;
  position: absolute;
}

#x2{
  filter: grayscale(100%);
  width: 1.250vw;
  left: 3.833vw;
  top: -0.833vw;
  position: absolute;
}

#x3{
  filter: grayscale(100%);
  width: 2.500vw;
  left: 8.375vw;
  top: 6.875vw;
  position: absolute;
}

#x4{
  filter: brightness(0) invert(1);
  width: 0.833vw;
  left: -15.208vw;
  top: -1.083vw;
  position: absolute;
}

#x5{
  filter: grayscale(100%);
  width: 1.667vw;
  left: -10.708vw;
  top: -5.917vw;
  position: absolute;
}

#x6{
  width: 2.500vw;
  left: -5.708vw;
  top: -3.792vw;
  position: absolute;
}

#circle0{
  width: 1.667vw;
  left: 0.875vw;
  top: 3.417vw;
  position: absolute;
}

#circle1{
  filter: brightness(0) invert(1);
  width: 2.083vw;
  left: 7.542vw;
  top: -2.583vw;
  position: absolute;
}

#circle2{
  filter: brightness(0) invert(1);
  width: 0.833vw;
  left: -7.125vw;
  top: -5.500vw;
  position: absolute;
}

#circle3{
  filter: grayscale(100%);
  width: 3.333vw;
  left: -10.042vw;
  top: -1.750vw;
  position: absolute;
}

section{
  padding-bottom: 16.667vw;
}

#sobrenosimg{
  width: 100%;
  position: absolute;
}

.section1index{
  position: absolute;
  top: 80vw;
  width: 100vw;
}

#sobretxt{
  color: white;
  background-color: #60636c;
  padding: 1vw;
  border-bottom-left-radius: 2.083vw;
  border-top-left-radius: 2.083vw;
  right: 0;
  width: 90%;
  position: absolute;
  padding-left: 6.250vw;
  padding-right: 6.250vw;
  font-size: 2vw;
  text-align: justify;
  top: 70vw;
  z-index: 2;
}

#triangle5{
  filter: grayscale(100%);
  width: 2.917vw;
  left: 2.917vw;
  top: -3.333vw;
  position: absolute;
}

#triangle6{
  filter: brightness(0) invert(1);
  width: 2.917vw;
  left: -28.375vw;
  top: 43.792vw;
  position: absolute;
}

#triangle7{
  width: 1.667vw;
  left: -9.917vw;
  top: -2.167vw;
  position: absolute;
}

#triangle8{
  filter: brightness(0) invert(1);
  width: 2.667vw;
  left: 9.917vw;
  top: 36.167vw;
  position: absolute;
}

#square6{
  filter: brightness(0) invert(1);
  width: 2.083vw;
  left: 9.083vw;
  top: -0.500vw;
  position: absolute;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#square7{
  filter: brightness(0) invert(1);
  width: 1.250vw;
  left: -9.292vw;
  top: 24.667vw;
  position: absolute;
}

#square8{
  width: 2.500vw;
  left: -40.208vw;
  top: 22.667vw;
  position: absolute;
}

#square9{
  filter: brightness(0) invert(1);
  width: 3.250vw;
  left: -19.250vw;
  top: 62.333vw;
  position: absolute;
}

#square10{
  width: 2.250vw;
  left: -25.250vw;
  top: 52.333vw;
  position: absolute;
}

#square11{
  filter: grayscale(100%);
  width: 4.250vw;
  left: -28.250vw;
  top: 75.333vw;
  position: absolute;
}

#square12{
  width: 3.250vw;
  left: -80.250vw;
  top: 15.333vw;
  position: absolute;
}

#square13{
  filter: grayscale(100%);
  width: 2.250vw;
  left: -80.250vw;
  top: 15.333vw;
  position: absolute;
}

#square14{
  filter: brightness(0) invert(1);
  width: 3.250vw;
  left: -40.250vw;
  top: -21.333vw;
  position: absolute;
}

#circle4{
  width: 2.500vw;
  left: 23.542vw;
  top: 1.833vw;
  position: absolute;
}

#circle5{
  filter: brightness(0) invert(1);
  width: 1.667vw;
  left: 30.208vw;
  top: 8.083vw;
  position: absolute;
}

#circle6{
  filter: brightness(0) invert(1);
  width: 2.667vw;
  left: -11.208vw;
  top: 80.083vw;
  position: absolute;
}

#introsymbols{
  position: absolute;
  left: 75vw;
  top: -20vw;
}

#circle7{
  filter: brightness(0) invert(1);
  width: 1.667vw;
  left: -54.208vw;
  top: 34.083vw;
  position: absolute;
}

#circle8{
  width: 2.667vw;
  left: -15.208vw;
  top: 27.083vw;
  position: absolute;
}

#x7{
  filter: grayscale(100%);
  width: 1.667vw;
  left: 8.792vw;
  top: 21.792vw;
  position: absolute;
}

#x8{
  filter: brightness(0) invert(1);
  width: 5vw;
  left: -13.792vw;
  top: 21.208vw;
  position: absolute;
}

#x9{
  filter: brightness(0) invert(1);
  width: 1.667vw;
  left: -55.125vw;
  top: 11.625vw;
  position: absolute;
}

#x10{
  filter: brightness(0) invert(1);
  width: 3.667vw;
  left: -93.125vw;
  top: 52.625vw;
  position: absolute;
}

#x11{
  filter: grayscale(100%);
  width: 3.667vw;
  left: -90.125vw;
  top: 84.625vw;
  position: absolute;
}

#x12{
  filter: brightness(0) invert(1);
  width: 1.667vw;
  left: -16.125vw;
  top: 56.625vw;
  position: absolute;
}

#x13{
  filter: brightness(0) invert(1);
  width: 3.667vw;
  left: -50.125vw;
  top: 78.625vw;
  position: absolute;
}

#x14{
  filter: brightness(0) invert(1);
  width: 5.667vw;
  left: -37.125vw;
  top: 81.625vw;
  position: absolute;
}

#x15{
  filter: brightness(0) invert(1);
  width: 5.667vw;
  left: -46.125vw;
  top: 44.625vw;
  position: absolute;
}

#x16{
  filter: brightness(0) invert(1);
  width: 1.667vw;
  left: -17.125vw;
  top: 20.625vw;
  position: absolute;
}

#x17{
  filter: grayscale(100%);
  width: 2.667vw;
  left: -21.125vw;
  top: 44.625vw;
  position: absolute;
}

#x18{
  filter: grayscale(100%);
  width: 2.667vw;
  left: -1.125vw;
  top: 47.625vw;
  position: absolute;
}

/* Set a style for all buttons */
button {
  color: white;
  padding: 0.500vw 0.833vw;
  margin: 0.333vw 0;
  font-family: apercu_bold_pro;
  border: 0.042vw solid #fff;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #333742;
}

#main{
  display: none;
}

#mainmob{
  text-align: center;
  transition: opacity 0.4s ease-in-out;
  padding-top: 28vw;
}

#mainmob h1{
  position: relative;
  padding-top: 5.250vw;
  color: #fff;
  font-size: 5vw;
  line-height: 0.2;
  z-index: 2;
}

#mainmob h5{
  position: relative;
  color: #85878e;
  font-size: 4vw;
  z-index: 2;
}

#mainmob button{
  position: relative;
  z-index: 2;
  color: white;
}

#mainmob a{
  color: white;
  text-decoration: none;
}

#myVideo2{
  position: absolute;
  width: 100%;
  top: 0;
}

#indexvideo{
  position: absolute;
  top: 20vw;
  width: 100%;
  height: 45vw;
  overflow:hidden;
}

#rotatimos2{
  overflow: hidden;
  position: absolute;
}

#condicoes{
  position: absolute;
  width: 60vw;
  top: 47.625vw;
  left: 2.625vw;

}

#condicoestxt,#conhecimentostxt,#estudostxt,#saidastxt{
  position: absolute;
  top: 50.5vw;
  left: 11.1vw;
  font-size: 3.8vw;
  color: white;
}

#txt1,#txt2,#txt3,#txt4{
  color: white;
  border-left: 0.3vw solid #23d400;
  position: absolute;
  font-size: 3vw;
  text-align: justify;
  top: 60vw;
  left: 3vw;
  padding: 1vw;
  border-radius: 0.3vw;
  padding-right: 10vw;
}

#conhecimentos{
  position: absolute;
  width: 96vw;
  top: 140.625vw;
  left: 2.625vw;
}

#conhecimentostxt{
  top: 142.5vw;
  font-size: 2.9vw;
}

#estudos{
  position: absolute;
  width: 50vw;
  top: 230.625vw;
  left: 2.625vw;
}

#estudostxt{
  top: 233.5vw;
}

#saidas{
  position: absolute;
  width: 56vw;
  top: 282.625vw;
  left: 2.625vw;
}

#saidastxt{
  top: 285.2vw;
}

#txt2{
  top: 151vw;
}

#txt3{
  top: 243vw;
}

#txt4{
  top: 295vw;
}

.jogosImg{
  width: 80vw;
  top: 55vw;
  left: 11vw;
  position: absolute;
  z-index: 1;
}


#jogosImg2{
  width: 79vw;
  height: 57vw;
  top: 60vw;
  left: 11vw;
  position: absolute;
}

.jogosTitle{
  position: absolute;
  top: 116vw;
  left: 50%;
  font-size: 6vw;
  color: #23d400;
  width: 100vw;
  text-align: center;
} 

.jogosName{
  color: white;
}

.jogosDesc{
  position: absolute;
  top: 126vw;
  left: 3vw;
  width: 98vw;
  font-size: 4vw;
  color: #85878e;
  text-align: justify;
  padding-right: 3.2vw;
}

.slk{
  color: #23d400;
}

.jogosInfo0,.jogosInfo1,.jogosInfo2{
  position: absolute;
  top: 145vw;
  left: 12vw;
  width: 86vw;
  font-size: 4vw;
  color: white;
  font-style: italic;
}

#exclamation0,#exclamation1,#exclamation2{
  position: absolute;
  top: 147.4vw;
  left: 4vw;
  width: 6vw;
}

#exclamation1{
  top: 160.4vw;
}

#exclamation2{
  top: 173.4vw;
}

.jogosInfo1{
  top: 158vw;
}

.jogosInfo2{
  top: 170vw;
  padding-right: 3vw;
}

#jogosBtn{
  position: absolute;
  top: 170vw;
  left: 23vw;
  width: 50vw;
}

#tryit{
  position: absolute;
  top: 174vw;
  left: 17.7vw;
  width: 60vw;
  font-size: 5vw;
  color: white;
}

#sectionLabel{
  background-color: #22242c;
  position: absolute;
  width: 100%;
  height: 350vw;
  top: 220vw;
}


#controllerIcon{
  position: absolute;
  width: 60vw;
  left: 20vw;
  top: 0vw;
}

#controllerTxt{
  position: absolute;
  font-size: 10vw;
  left: 35vw;
  top: 34vw;
  color: white;
}

#labelBar0{
  padding: 0vw;
  margin-top: 0.1vw;
  font-size: 2vw;
  border: none;
  border-radius: 1.042vw;
  background-color: #23d400;
  color: #ffffff;
  position: absolute;
  top: 56vw;
  left: 42vw;
  width: 15vw;
  transition: all 0.2s;
}

#controllerTxt2{
  position: absolute;
  font-size: 5vw;
  left: 7vw;
  top: 64vw;
  color: white;
  text-align: justify;
  width: 88vw;
}


#articlesIcon{
  position: absolute;
  width: 60vw;
  left: 23vw;
  top: 100vw;
}

#articlesTxt{
  position: absolute;
  font-size: 10vw;
  left: 33vw;
  top: 145vw;
  color: white;
}

#labelBar1{
  padding: 0vw;
  margin-top: 0.1vw;
  font-size: 2vw;
  border: none;
  border-radius: 1.042vw;
  background-color: #23d400;
  color: #ffffff;
  position: absolute;
  top: 167vw;
  left: 42vw;
  width: 15vw;
  transition: all 0.2s;
}

#articlesTxt2{
  position: absolute;
  font-size: 5vw;
  left: 7vw;
  top: 174vw;
  color: white;
  text-align: justify;
  width: 88vw;
}


#playIcon{
  position: absolute;
  width: 60vw;
  left: 20vw;
  top: 210vw;
}

#playTxt{
  position: absolute;
  font-size: 10vw;
  left: 25vw;
  top: 255vw;
  color: white;
}

#labelBar2{
  padding: 0vw;
  margin-top: 0.1vw;
  font-size: 2vw;
  border: none;
  border-radius: 1.042vw;
  background-color: #23d400;
  color: #ffffff;
  position: absolute;
  top: 277vw;
  left: 43vw;
  width: 15vw;
  transition: all 0.2s;
}

#playTxt2{
  position: absolute;
  font-size: 5vw;
  left: 7vw;
  top: 284vw;
  color: white;
  text-align: justify;
  width: 88vw;
}

#unknown{
  display: none;
}

#unknown1{
  position: absolute;
  top: 25vw;
  left: 0vw;
  width: 100vw;
}

#unknown2{
  position: absolute;
  top: 100vw;
  left: 0vw;
  width: 100vw;
}

.extension{
  display: none;
}

#introjogos{
  position: absolute;
  top: 50vw;
  width: 80vw;
  color: white;
  left: 10vw;
  font-size: 5vw;
  text-align: justify;
}

#contentjogos{
  position: absolute;
  top: 100vw;
}

footer{
  position: absolute;
  top: 145vw;
  width: 100%;
  height: 6vw;
  background-color: #2d7328;
  overflow: hidden;
  display: none;
}

#footerlogo{
  position: absolute;
  width: 10vw;
  top: 1vw;
  left: 12.5vw;
}

#footerfb,#footerig,#footeryt{
  position: absolute;
  top: 3.8vw;
  left: 57vw;
}

#footerfb{
  width: 0.8vw;
}

#footeryt{
  left: 72vw;
  top: 3.9vw;
  width: 1.4vw;
}

#footerig{
  left: 64vw;
  width: 1.4vw;
}

#footerli{
  position: absolute;
  top: 11.9vw;
}

#footerweb{
  position: absolute;
  top: 14.4vw;
  left: 15.9vw;
}

#footertxt{
  color: white;
  font-size: 1vw;
}

#footercontactos,#footerexplora{
  position: absolute;
  top: 0.6vw;
  left: 32vw;
}

#footerunderliner,#footerunderliner2{
  background-color: white;
  width: 20vw;
  height: 0.1vw;
  position: absolute;
  top: 3vw;
  left: 26vw;
  opacity: 0.5;
}

#footerunderliner2{
  left: 56.2vw;
}

#footertel,#footermail{
  position: absolute;
  font-size: 0.8vw;
  top: 3.3vw;
  left: 29vw;
}

#footermail{
  left: 40vw;
}

#footertelimg,#footermailimg{
  position: absolute;
  top: 3.9vw;
  left: 27vw;
  width: 1.3vw;
}

#footermailimg{
  top: 4.1vw;
  left: 37.6vw;
}

#footerexplora{
  left: 57.7vw;
}

#footerinicio,#footersobre,#footerjogos,#footerartigos,#footermultimedia{
  position: absolute;
  font-size: 0.7vw;
  top: 7vw;
  left: 59.2vw;
  color: white;
}

#footersobre{
  top: 9vw;
}

#footerjogos{
  top: 11vw;
}

#footerartigos{
  top: 13vw;
}

#footermultimedia{
  top: 15vw;
}

#footerselector{
  position: absolute;
  width: 0.7vw;
  top: 7.7vw;
  left: 57.5vw;
  color: white;
  opacity: 0;
}

#footerconhecer{
  position: absolute;
  top: 2vw;
  left: 55vw;
  color: white;
}

#footerunderliner3{
  background-color: white;
  width: 23.3vw;
  height: 0.1vw;
  position: absolute;
  top: 6.5vw;
  left: 73.7vw;
  opacity: 0.5;
}

#styleline,#styleline2{
  background-color: #333742;
  width: 30vw;
  position: absolute;
  right: -10vw;
  height: 1.3vw;
  top: 0vw;
  transform: rotate(315deg);
}

#styleline2{
  right: -15vw;
}

#footer2{
  top: 106vw;
}

#footer3{
  top: 300vw;
}

#footer4{
  top: 400vw;
}

#footer5{
  top: 60vw;
}

#arrow0{
  position: absolute;
  top: 80vw;
  left: 0vw;
  width: 10vw;
  transform: rotate(90deg);
  transition: all 0.3s;
}

#arrow1{
  position: absolute;
  top: 80vw;
  left: 90vw;
  width: 10vw;
  transform: rotate(-90deg);
  transition: all 0.3s;
}

#gamesdiv{
  transition: all 0.5s;
}

#sectionInterested{
  background-color: #333742;
  position: absolute;
  width: 100%;
  height: 40vw;
  top: 580vw;
  color: white;
}

#interestedTxt,#blurbTxt{
  position: absolute;
  font-size: 6vw;
  left: 10vw;
  top: 4vw;
}

#blurbTxt{
  font-size: 5vw;
  top: 0vw;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #29921c;
}

#linksTxt1,#linksTxt2,#linksTxt3,#linksTxt4{
  position: absolute;
  font-size: 5vw;
  left: 16vw;
  top: 34vw;
  color: white;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #333742;
  transition: all 0.3s;
}

#linksTxt1:hover,#linksTxt2:hover,#linksTxt3:hover,#linksTxt4:hover {
  text-decoration-color: #29921c;
}

#linksTxt2{
  top: 57vw;
}

#linksTxt3{
  top: 70vw;
}

#linksTxt4{
  top: 83vw;
}

.fa-external-link{
  color: white;
}

#iconarrow1,#iconarrow2,#iconarrow3,#iconarrow4{
  position: absolute;
  left: 85.5vw;
  top: 34vw;
  color: white;
  font-size: 10vw; 
  padding-left: 0.5vw;
  text-decoration: none!important;
}

#iconarrow2{
  left: 59vw;
  top: 55vw;
}

#iconarrow3{
  left: 70vw;
  top: 68vw;
}

#iconarrow4{
  left: 41vw;
  top: 81vw;
}

#selectorIntere{
  width: 1vw;
  position: absolute;
  left: 14vw;
  top: 33.1vw;
  opacity: 0;
  transition: all 0.3s;
}

#artigoIntro{
  position: absolute;
  top: 50vw;
  width: 94vw;
  color: white;
  left: 3vw;
  font-size: 4vw;
  text-align: center;
  font-style: italic;
}

#artigoDesc{
  position: absolute;
  top: 102vw;
  width: 55vw;
  color: white;
  left: 22.5vw;
  font-size: 1.3vw;
  text-align: center;
  font-style: italic;
}

#artigoTitle,#artigoTitleG{
  z-index: 2;
  position: absolute;
  width: 20vw;
  top: 41vw;
  left: 40.1%;
  transition: all 0.1s;
  display: none;
}

#artigoTitleG{
  z-index: 0;
  top: 10vw;
  left: 39.85%;
  transition: all 0.15s;
}

.funni {
  transition: all 0.3s;
  opacity: 0;
}

#foreffect,#foreffect2{
  z-index: 1;
  width: 25vw;
  height: 5vw;
  top: 6vw;
  left: 39vw;
  position: absolute;
  background-color: #333742;
}

#foreffect2{
  z-index: 3;
  top: 11vw;
  height: 4.4vw;
  background-color: #333742;
}

#multiSelect{
  position: absolute;
  top: 100vw;
  width: 100vw;
}

.mcs-wrapper{
  height: 100vw;
}

.mcs-items-container{
  perspective: 6vw !important;
}

#generateVid{
  position: absolute;
  top: 54vw;
  height: 200vw;
}

#multiarrow{
  width: 5vw;
  position: absolute;
  left: 5vw;
  top: 68vw;
}

#descGenVid{
  position: absolute;
  color: white;
  font-size: 4vw;
  top: 60vw;
  left: 15vw;
  width: 80vw;
  text-align: justify;
}

#reallybigline{
  background-color: #23d400;
  width: 0.5vw;
  left: 50vw;
  top: 7vw;
  position: absolute;
  height: 200vw;
  opacity: 80%;
  border-radius: 1vw;
  display: none;
}

.videoframeleft{
  position: absolute;
  width: 30vw;
  left: 10vw;
  top: 10vw;
  text-align: center;
}

.videoframeright{
  position: absolute;
  width: 90vw;
  left: 5vw;
  top: 10vw;
  text-align: center;
}

.iframer{
  position: absolute;
  width: 89vw;
  left: 1vw;
  top: 1vw;
  height: 44.5vw;
  border-radius: 9vw;
}

.videoframeleft img{
  width: 90vw;
}

.videoframeright img{
  width: 90vw;
}

.desc{
  position: absolute;
  left: 25vw;
  top: 44vw;
  width: 40vw;
  font-size: 3vw;
  color: white;
  text-align: center;
}

#threearrows{
  position: absolute;
  left: 47.7vw;
  width: 5vw;
  display: none;
}

#multimediaTitle,#multimediaTitleG{
  z-index: 2;
  position: absolute;
  width: 24vw;
  top: 11vw;
  left: 39.7%;
  transition: all 0.1s;
}

#multimediaTitleG{
  z-index: 0;
  width: 23.3vw;
  top: 10vw;
  left: 40.2%;
  transition: all 0.15s;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 66vw;
  width: 99vw;
  left: 1vw;
}

#initialVideo{
  position: absolute;
  top: 46vw;
  width: 100%;
  height: 66vw;
  background-color: black;
}

#videoTitle{
  position: absolute;
  top: 1vw;
  left: 6vw;
  font-size: 10vw;
  font-style: italic;
  color: #23d400;
  opacity: 80%;
}

#multimediaBox0,#multimediaBox1,#multimediaBox2,#multimediaBox3,#multimediaLogo0,#multimediaLogo1,#multimediaLogo2,#multimediaLogo3{
  position: absolute;
  width: 24vw;
  top: 52vw;
  left: 1vw;
  z-index: 1;
  -webkit-transition : -webkit-filter 0.2s linear;
}

#multimediaLogo0,#multimediaLogo1,#multimediaLogo2,#multimediaLogo3{
  top: 52.6vw;
}

#multimediaLogo1{
  top: 52.2vw;
}

#multimediaBox0:hover,#multimediaBox1:hover,#multimediaBox2:hover,#multimediaBox3:hover{
  filter: invert(75%);
}

#multimediaBox1,#multimediaLogo1{
  left: 26vw;
}

#multimediaBox2,#multimediaLogo2{
  left: 51vw;
}

#multimediaBox3,#multimediaLogo3{
  left: 75vw;
}

#multimediaLogo2{
  top: 51.4vw;
  width: 14vw;
  left: 56vw;
}